.wrapper{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.page-footer {
    min-height: 150px;
    width: 100%;
    margin-bottom: 0;
    background: yellow;
}

.bg-dark{
    background: #232F3E !important;
    color: #FFFFFF !important;
}

.bg-dark-light{
    background: #232F3E !important;
    color: #FFFFFF !important;
}
.card .reveal {
    visibility: hidden;
    opacity: 0;
    padding: 0;
    text-align: center;
}

.card:hover .reveal {
    visibility: visible;
    opacity: 10;
    transition: opacity 1s ease;
    text-align: center;
}